@font-face {
  font-family: "biorhyme";
  src: url(../Assets/biorhyme/BioRhyme-Regular.ttf);
}

@font-face {
  font-family: "biorhyme-light";
  src: url(../Assets//biorhyme/BioRhyme-Light.ttf);
}

@font-face {
  font-family: "biorhyme-bold";
  src: url(../Assets/biorhyme/BioRhyme-Bold.ttf);
}

@font-face {
  font-family: "biorhyme-extrabold";
  src: url(../Assets/biorhyme/BioRhyme-ExtraBold.ttf);
}

@font-face {
  font-family: "biorhyme-extralight";
  src: url(../Assets/biorhyme/BioRhyme-ExtraLight.ttf);
}

.App {
  background-color: black;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.navbar {
  display: none !important;
  position: fixed;
  top: 0;
  background-color: #f7e9e9;
}

.navbar__myface {
  display: none;
  height: 0px;
  width: 0px;
}

.navbar__navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__navs--item {
  color: black;
  font-family: "biorhyme-bold";
  font-size: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .navbar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
    z-index: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed !important;
  }
  .navbar__myface {
    display: inline;
    height: 6%;
    width: 6%;
    border-radius: 50%;
    margin-left: 2rem;
  }
  .navbar__navs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: "biorhyme-bold";
    margin-right: 2rem;
  }
  .navbar__navs--item {
    margin: 0 1rem;
    font-size: 1rem;
  }
  .navbar__navs--item:hover {
    text-decoration: none;
  }
  .navbar__navs--item:active {
    color: blue;
  }
}

@media only screen and (min-width: 1440px) {
  .navbar__navs--item {
    font-size: 1.5rem;
  }
}

.introduction {
  padding: 3rem 10% 15rem;
}

.introduction__pic {
  margin: 0;
}

.introduction__divider {
  margin: 0;
}

.introduction__name {
  font-family: "biorhyme-extrabold";
  color: #f7e9e9;
}

.introduction__role {
  font-family: "biorhyme-bold";
  font-size: 20px;
  color: #d2c6c6;
}

.introduction__mission {
  font-family: "biorhyme-extrabold";
  font-size: 30px;
  color: #f7e9e9;
}

.introduction__missiontext {
  font-family: "biorhyme";
  color: #d2c6c6;
}

@media only screen and (min-width: 768px) {
  .introduction {
    margin: 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10rem;
  }
  .introduction__divider {
    margin-right: 2rem;
  }
  .introduction__name {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .introduction__role {
    font-size: 2rem;
    margin: 1rem;
  }
  .introduction__mission {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .introduction__missiontext {
    font-size: 1.5rem;
    -webkit-animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
            animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
}

@media only screen and (min-width: 1440px) {
  .introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 12rem;
    margin: 0 10%;
  }
  .introduction__divider {
    margin-right: 2rem;
  }
  .introduction__name {
    font-size: 100px;
    margin: 0;
  }
  .introduction__role {
    font-size: 60px;
    margin: 0;
  }
  .introduction__mission {
    font-size: 80px;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
  .introduction__missiontext {
    font-size: 33px;
  }
}

.info {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7e9e9;
  color: black;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.info__jobs, .info__education, .info__certification {
  font-family: "biorhyme-extrabold";
  color: black;
  padding-top: 30px;
}

.info__title {
  font-size: 30px;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.info__entity {
  font-family: "biorhyme-bold";
  font-size: 16px;
}

.info__role {
  font-family: "biorhyme";
  font-size: 13px;
  margin-bottom: 0.2rem;
}

.info__date {
  font-family: "biorhyme-light";
  font-size: 13px;
  margin: 0;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid black;
}

.infotitle {
  font-family: "biorhyme-extrabold";
  text-align: center;
  margin-top: 8rem;
  font-size: 2rem;
  padding-top: 6rem;
}

@media only screen and (min-width: 768px) {
  .infotitle {
    margin-top: 2rem;
    font-size: 4rem;
  }
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 10%;
    height: 30rem;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
  }
  .info__jobs, .info__education, .info__certification {
    width: 30%;
  }
  .info__title {
    font-size: 28px;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
  }
  .info__entity {
    font-size: 22px;
  }
  .info__role {
    font-size: 17px;
  }
  .info__date {
    font-size: 17px;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid black;
  }
}

@media only screen and (min-width: 1440px) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 0rem;
  }
  .info__jobs, .info__education, .info__certification {
    width: 30%;
  }
}

.tech {
  background-color: #f7e9e9;
  padding: 5rem 10%;
  text-align: center;
  font-family: "biorhyme-bold";
  color: black;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.tech__logo {
  height: 20%;
  width: 20%;
  color: white;
  margin: auto 0.3rem;
}

.tech__logo:hover {
  height: 23%;
  width: 23%;
  fill: purple;
}

.techtitle {
  font-family: "biorhyme-extrabold";
  text-align: center;
  margin-top: 10rem;
  font-size: 2rem;
}

@media only screen and (min-width: 768px) {
  .tech {
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
  }
  .tech__divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tech__frontend, .tech__backend, .tech__database, .tech__others {
    width: 50%;
    margin: 0;
  }
  .tech__logo {
    height: 25%;
    width: 25%;
    margin: 1rem;
  }
  .tech__logo:hover {
    height: 30%;
    width: 30%;
  }
  .techtitle {
    font-size: 4rem;
    margin-top: 8rem;
    margin-bottom: 0;
    padding-top: 6rem;
  }
}

@media only screen and (min-width: 1440px) {
  .tech__logo {
    height: 25%;
    width: 25%;
    margin: 1rem;
  }
  .tech__logo:hover {
    height: 30%;
    width: 30%;
  }
  .techtitle {
    font-size: 6rem;
  }
}

#projects {
  background-color: #f7e9e9;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: black;
}

.project__card {
  margin: 5rem 10%;
  height: 50%;
  width: 80%;
}

.project__card--mainpic {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10%;
}

.project__card--title {
  font-family: "biorhyme-bold";
  font-size: 1rem;
}

.project__card--buttontext {
  font-family: "biorhyme-bold";
}

.project__modal--header {
  font-family: "biorhyme-bold";
}

.project__modal--techstack, .project__modal--github {
  font-family: "biorhyme";
  color: black;
  border-top: 1px dashed black;
  text-decoration: none;
}

.project__modal--video {
  height: auto !important;
  width: 100% !important;
}

.modal-body {
  padding: 0.5rem !important;
}

.projecttitle {
  font-family: "biorhyme-extrabold";
  color: black;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  padding-top: 6rem;
  background-color: #f7e9e9;
}

@media only screen and (min-width: 768px) {
  .project {
    padding: 0 15%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-column-gap: 10%;
    grid-row-gap: 6rem;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
  }
  .project__card {
    height: 80%;
    width: 80%;
  }
  .project__card--mainpic {
    max-height: 100%;
    max-width: 100%;
  }
  .project__card--title {
    font-size: 25px;
  }
  .projecttitle {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1440px) {
  .project {
    padding: 0 15% 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-column-gap: 10%;
    grid-row-gap: 6rem;
  }
  .project__title {
    font-size: 80px;
  }
  .project__card {
    height: 50%;
    width: 25rem;
  }
  .project__card--title {
    margin-top: 1rem;
    font-size: 40px;
  }
  .projecttitle {
    font-size: 7rem;
  }
}

#contacts {
  background-color: #f7e9e9;
}

.contacttitle {
  font-family: "biorhyme-extrabold";
  font-size: 30px;
  margin: 0;
  padding-top: 2rem;
  background-color: #f7e9e9;
  color: black;
  text-align: center;
  padding-top: 5rem;
}

.contact {
  text-align: center;
  padding-bottom: 6rem;
  background-color: black;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.contact__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__email--logo, .contact__phone--logo {
  height: 20%;
  width: 20%;
  margin-bottom: 1rem;
}

.contact__email--email, .contact__phone--number {
  font-family: "biorhyme-bold";
  font-size: 15px;
  margin-bottom: 2rem;
  color: #b0b0b0;
}

.contact__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__githublogo, .contact__linkedinlogo {
  height: 25%;
  width: 25%;
  margin: 1rem 10%;
}

.contact__divider1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__divider2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5rem;
}

.contact__resume, .contact__letter {
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 10%;
  height: 3rem;
  width: 60%;
  background-color: #2f8cc2;
}

.contact__letter--text, .contact__resume--text {
  font-family: "biorhyme";
}

.contact__heading {
  font-family: "biorhyme-bold";
  color: #f7e9e9;
  font-size: 2rem;
  margin: 1rem 0;
}

@media only screen and (min-width: 768px) {
  .contacttitle {
    font-size: 60px;
  }
  .contact__divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 2rem 0;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
  }
  .contact__email--logo, .contact__phone--logo, .contact__githublogo, .contact__linkedinlogo {
    height: 7rem;
    width: 7rem;
  }
  .contact__divider1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 3rem 0;
  }
  .contact__divider2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact__resume, .contact__letter {
    height: 80px;
    width: 25%;
  }
  .contact__letter--text, .contact__resume--text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  .contacttitle {
    font-size: 7rem;
  }
  .contact__heading {
    font-size: 4rem;
  }
  .contact__email--logo, .contact__phone--logo, .contact__githublogo, .contact__linkedinlogo {
    width: 10rem;
    height: 10rem;
  }
  .contact__divider2 {
    margin-top: 4rem;
  }
  .contact__letter--text, .contact__resume--text {
    font-size: 2rem;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/*# sourceMappingURL=index.css.map */