.contact {
  height: 80vh;
  text-align: center;
  align-items: center;
  color: black;
  &__title {
    color: black;
    font-family: "jost-b";
    font-size: 32px;
    padding-bottom: 5vh;
  }
  &__container {
    display: flex;
    flex-direction: column;
    font-family: "jost-b";
  }
  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &__form--emailinput,
  &__form--nameinput {
    margin-bottom: 10px;
  }
  &__divider {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: space-evenly;
  }
  &__email--logo,
  &__phone--logo {
    width: 80px;
    height: 80px;
  }
  &__form--bodyinput {
    height: 100px;
    margin-bottom: 20px;
  }
}

@include tablet {
  .contact {
    height: 75vh;
    &__container {
      flex-direction: row-reverse;
      padding-top: 30px;
    }
    &__divider {
      flex-direction: column;
      margin-top: 0;
      margin-right: 10%;
      padding-bottom: 50px;
    }
    &__form {
      width: 60%;
      align-self: center;
    }
    &__form--emailinput,
    &__form--nameinput,
    &__form--bodyinput {
      width: 70%;
    }
    &__form--emailinput,
    &__form--nameinput {
      height: 50px;
    }
    &__form--bodyinput {
      height: 100px;
      margin-bottom: 30px;
    }
    &__form--submit {
      width: 20%;
      font-size: 30px;
    }
    &__email,
    &__phone {
      display: flex;
      flex-direction: row;
    }
    &__email--email,
    &__phone--number {
      padding-top: 30px;
      padding-left: 2%;
    }
  }
}

@include desktop {
  .contact {
    height: 70vh;
    &__form {
      width: 60%;
    }
    &__form--emailinput,
    &__form--nameinput,
    &__form--subjectinput {
      height: 50px;
      text-align: start;
    }
    &__form--bodyinput {
      height: 150px;
      text-align: start;
    }
    &__email--logo,
    &__phone--logo {
      width: 120px;
      height: 120px;
    }
    &__email--email,
    &__phone--number {
      font-size: 20px;
    }
  }
}
