@font-face {
  font-family: "biorhyme";
  src: url(../Assets/biorhyme/BioRhyme-Regular.ttf);
}
@font-face {
  font-family: "biorhyme-light";
  src: url(../Assets//biorhyme/BioRhyme-Light.ttf);
}

@font-face {
  font-family: "biorhyme-bold";
  src: url(../Assets/biorhyme/BioRhyme-Bold.ttf);
}

@font-face {
  font-family: "biorhyme-extrabold";
  src: url(../Assets/biorhyme/BioRhyme-ExtraBold.ttf);
}

@font-face {
  font-family: "biorhyme-extralight";
  src: url(../Assets/biorhyme/BioRhyme-ExtraLight.ttf);
}

@font-face {
  font-family: "firacode";
  src: url(../Assets/biorhyme/FiraCode-Medium.ttf);
}

@font-face {
  font-family: "jost-m";
  src: url(../Assets/fonts/Jost-Medium.ttf);
}

@font-face {
  font-family: "jost-r";
  src: url(../Assets/fonts/Jost-Regular.ttf);
}

@font-face {
  font-family: "jost-b";
  src: url(../Assets/fonts/Jost-Bold.ttf);
}

@mixin m-h1 {
  font-family: "jost-b";
  font-size: 30px;
  font-weight: 500;
  line-height: 2px;
  letter-spacing: 2px;
}
@mixin t-h1 {
  font-family: "jost-b";
  font-size: 48px;
  font-weight: 500;
  line-height: 2px;
  letter-spacing: 2px;
}
