@font-face {
  font-family: "biorhyme";
  src: url(../Assets/biorhyme/BioRhyme-Regular.ttf);
}
@font-face {
  font-family: "biorhyme-light";
  src: url(../Assets//biorhyme/BioRhyme-Light.ttf);
}

@font-face {
  font-family: "biorhyme-bold";
  src: url(../Assets/biorhyme/BioRhyme-Bold.ttf);
}

@font-face {
  font-family: "biorhyme-extrabold";
  src: url(../Assets/biorhyme/BioRhyme-ExtraBold.ttf);
}

@font-face {
  font-family: "biorhyme-extralight";
  src: url(../Assets/biorhyme/BioRhyme-ExtraLight.ttf);
}
