.info {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  background-color: $offwhite;
  color: black;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;

  &__jobs,
  &__education,
  &__certification {
    font-family: "biorhyme-extrabold";
    color: black;
    padding-top: 30px;
  }
  &__title {
    font-size: 30px;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
  }
  &__entity {
    font-family: "biorhyme-bold";
    font-size: 16px;
  }
  &__role {
    font-family: "biorhyme";
    font-size: 13px;
    margin-bottom: 0.2rem;
  }
  &__date {
    font-family: "biorhyme-light";
    font-size: 13px;
    margin: 0;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid black;
  }
}
.infotitle {
  font-family: "biorhyme-extrabold";
  text-align: center;
  margin-top: 8rem;
  font-size: 2rem;
  padding-top: 6rem;
}

@include tablet {
  .infotitle {
    margin-top: 2rem;
    font-size: 4rem;
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    height: 30rem;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;

    &__jobs,
    &__education,
    &__certification {
      width: 30%;
    }
    &__title {
      font-size: 28px;
      padding-bottom: 1rem;
      border-bottom: 2px solid black;
    }
    &__entity {
      font-size: 22px;
    }
    &__role {
      font-size: 17px;
    }
    &__date {
      font-size: 17px;
      padding-bottom: 1.5rem;
      border-bottom: 2px solid black;
    }
  }
}

@include desktop {
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0rem;

    &__jobs,
    &__education,
    &__certification {
      width: 30%;
    }
  }
}
