.introduction {
  padding: 3rem 10% 15rem;

  &__pic {
    margin: 0;
  }

  &__divider {
    margin: 0;
  }
  &__name {
    font-family: "biorhyme-extrabold";
    color: $offwhite;
  }
  &__role {
    font-family: "biorhyme-bold";
    font-size: 20px;
    color: $lightgrey;
  }
  &__mission {
    font-family: "biorhyme-extrabold";
    font-size: 30px;
    color: $offwhite;
  }
  &__missiontext {
    font-family: "biorhyme";
    color: $lightgrey;
  }
}

@include tablet {
  .introduction {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    &__divider {
      margin-right: 2rem;
    }
    &__name {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }
    &__role {
      font-size: 2rem;
      margin: 1rem;
    }
    &__mission {
      font-size: 2rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    &__missiontext {
      font-size: 1.5rem;
      animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
    }
  }
}

@include desktop {
  .introduction {
    display: flex;
    flex-direction: column;
    padding-top: 12rem;
    margin: 0 10%;
    &__divider {
      margin-right: 2rem;
    }
    &__name {
      font-size: 100px;
      margin: 0;
    }
    &__role {
      font-size: 60px;
      margin: 0;
    }
    &__mission {
      font-size: 80px;
      margin-top: 6rem;
      margin-bottom: 2rem;
    }
    &__missiontext {
      font-size: 33px;
    }
  }
}
