.navbar {
  display: none !important;
  position: fixed;
  top: 0;
  background-color: $offwhite;
  &__myface {
    display: none;
    height: 0px;
    width: 0px;
  }
  &__navs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__navs--item {
    color: black;
    font-family: "biorhyme-bold";
    font-size: 0.5rem;
  }
}

@include tablet {
  .navbar {
    display: flex !important;
    flex-direction: row;
    overflow: hidden;
    z-index: 1;
    justify-content: space-between;
    position: fixed !important;
    &__myface {
      display: inline;
      height: 6%;
      width: 6%;
      border-radius: 50%;
      margin-left: 2rem;
    }
    &__navs {
      justify-content: space-between;
      font-family: "biorhyme-bold";
      margin-right: 2rem;
    }
    &__navs--item {
      margin: 0 1rem;
      font-size: 1rem;
    }
    &__navs--item:hover {
      text-decoration: none;
    }
    &__navs--item:active {
      color: blue;
    }
  }
}

@include desktop {
  .navbar {
    &__navs--item {
      font-size: 1.5rem;
    }
  }
}
