.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__card {
    margin: 7rem 0;
    height: 15rem;
    width: 80%;
  }
  &__card:hover {
    height: 16rem;
    width: 85%;
  }
  &__card--mainpic {
    max-width: 100%;
    max-height: 120%;
    border-radius: 10%;
  }
  &__card--title {
    font-family: "biorhyme-bold";
  }
}

@include tablet {
  .project {
    margin: 0 15%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20rem 20rem 20rem;
    grid-column-gap: 3rem;
    grid-row-gap: 10rem;
    &__card:hover {
      height: 100%;
      width: 100%;
    }
    &__card--title {
      font-size: 25px;
    }
  }
}

@include desktop {
  .project {
    margin: 0 15%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20rem 20rem 20rem;
    grid-column-gap: 7rem;
    grid-row-gap: 35rem;
    &__card {
      height: 25rem;
      width: 25rem;
    }
    &__card:hover {
      height: 125%;
      width: 115%;
    }
    &__card--title {
      margin-top: 1rem;
      font-size: 40px;
    }
  }
}
