.projectitle {
  color: $offwhite;
  text-align: center;
  font-family: "jost-b";
  font-size: 32px;
  margin-bottom: 50px;
  padding-top: 40px;
}
.project {
  text-align: center;
  background-color: black;
  &__card {
    height: 70vh;
  }
  &__card--title {
    font-family: "jost-b";
    font-size: 20px;
    color: $offwhite;
  }
  &__card--mainpic {
    width: 75%;
  }
  &__card--mainpicphone {
    height: 50%;
    width: 40%;
  }
  &__card--detailb,
  &__card--demob {
    margin-top: 0.5rem;
    width: 60%;
  }
  &__card--buttontext {
    color: white;
    text-decoration: none;
  }
  &__modal--header {
    font-family: "jost-b";
  }
  &__modal--techstack,
  &__modal--github {
    font-family: "jost-m";
    color: black;
    border-top: 1px dashed black;
    text-decoration: none;
  }
  &__modal--video {
    height: auto !important;
    width: 100% !important;
  }
}

@include tablet {
  .projectitle {
    font-size: 50px;
  }
  .project {
    &__card {
      height: 80vh;
    }
    &__container {
      padding: 0 15%;
      display: grid;
      grid-template-columns: 45% 45%;
      grid-template-rows: auto;
      grid-column-gap: 10%;
      grid-row-gap: 6rem;
    }
    &__card--mainpic {
      height: 18rem;
    }
    &__card--button {
      width: 65%;
    }
    &__card--detailb,
    &__card--demob {
      margin-top: 0.5rem;
      width: 75%;
      height: 35px;
    }
    &__card--title {
      font-size: 30px;
    }
  }
}

@include desktop {
  .project {
    &__card--mainpic {
      height: 22rem;
    }
  }
}
